PortService/src/META-INF/wsdl/localhost_8080/AlarmaWebService/AlarmaWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice.ferreasesor.spontecorp.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.ferreasesor.spontecorp.com/">

<xs:element name="arrancaAlarma" type="tns:arrancaAlarma"/>

<xs:element name="startAlarma" type="tns:startAlarma"/>

<xs:element name="stopAlarma" type="tns:stopAlarma"/>

<xs:complexType name="stopAlarma">
<xs:sequence>
<xs:element name="botonId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="arrancaAlarma">
<xs:sequence>
<xs:element name="botonId" type="xs:int"/>
<xs:element name="tBueno" type="xs:int"/>
<xs:element name="tRegular" type="xs:int"/>
<xs:element name="tCierre" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="startAlarma">
<xs:sequence>
<xs:element name="botonId" type="xs:int"/>
<xs:element name="tBueno" type="xs:int"/>
<xs:element name="tRegular" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>